@import "../../sass/styles";

.link__display {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.2rem;
  margin: 1rem;
  color: $red;
  word-spacing: 4px;
  text-align: center;
}

.delete-icon {
  width: 3rem;
  height: 3rem;
  align-self: flex-end;
  cursor: pointer;
  margin: 2rem 3rem;
  position: relative;

  .message {
    opacity: 0;
    font-size: 1.1rem;
    color: #fff;
    border: 1px solid $red;
    padding: 0.4rem;
    position: absolute;
    background: $red;
    top: -5rem;
    right: -4rem;
    width: max-content;
  }

  &:hover {
    .message {
      opacity: 1;
    }
  }

  img {
    max-width: 100%;
    cursor: pointer;
  }
}
