@import "../../sass/styles";

.logo-box {
  width: 10rem;
  cursor: pointer;
  @media only screen and(max-width:500px) {
    width: 7rem;
  }
  img {
    max-width: 100%;
    cursor: pointer;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0rem;
  &__items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  &__item {
    padding: 0rem 2rem;
    font-size: 1.3rem;
    color: $grayish-violet;
    @media only screen and(max-width:500px) {
      padding: 0 1rem;
    }
    a {
      font-size: 1.3rem;
      color: $grayish-violet;
    }

    .btn-small {
      @media only screen and(max-width:500px) {
        padding: 0.5rem 1rem;
      }
    }
  }
}
