@import "../../sass/styles";

footer {
  background: $dark-violet;
  padding: 3rem 0;
  margin-top: 4rem;
}
.footer__line {
  font-size: 1.7rem;
  text-align: center;
  margin: 2rem;
  color: $gray;

  span {
    margin: 0 1rem;
  }

  .link {
    color: $red;
    &:hover {
      color: $cyan;
    }
  }
}
